@model Forum_App.ViewModels.ThreadCommentsViewModel

@{
    ViewData["Title"] = "Details";
    string userString = null;
    if (User.Identity.IsAuthenticated)
        userString = User.Identity.Name;
}

<h1>Details</h1>

<div>
    <h4>Thread</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thread.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thread.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thread.Contents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thread.Contents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thread.User_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thread.User_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thread.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thread.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thread.ModifyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thread.ModifyDate)
        </dd>
    </dl>
</div>
<div>
    @if (userString == Model.Thread.User_ID)
    {
        <a asp-action="Edit" asp-route-id="@Model.Thread.Post_ID">Edit</a>
        @Html.Raw("|")
    }
    <a asp-action="Index">Back to List</a>
</div>
<table class="table">
    @foreach (var item in Model.Comments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
                @if (item.CreateDate != item.ModifyDate)
                {
                    @Html.Raw(" (edited)");
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifyDate)
            </td>
        </tr>
    }
</table>

@if (ViewBag.page != 1)
{
    <a class="btn btn-outline-primary btn-sm" role="button" asp-route-id="@Model.Thread.Post_ID" asp-route-page="@(ViewBag.page - 1)">@Html.Raw("<")</a>
}

@if (ViewBag.page - 2 > 1)
{
    <a class="btn btn-outline-primary btn-sm" role="button" asp-route-id="@Model.Thread.Post_ID" asp-route-page="1">1</a> 
    if (ViewBag.page - 2 != 2) @Html.Raw("...");
}

@for (int i = ViewBag.page - 2; i <= ViewBag.pageCount && i <= ViewBag.page + 2; i++)
{
    if (i < 1)
        i = 1;
    <a class="btn btn-outline-primary btn-sm" role="button" asp-route-id="@Model.Thread.Post_ID" asp-route-page="@i">@i</a>
}

@if (ViewBag.page + 2 < ViewBag.pageCount)
{
    if (ViewBag.pageCount - (ViewBag.page + 2) != 1) @Html.Raw("...");
    <a class="btn btn-outline-primary btn-sm" role="button" asp-route-id="@Model.Thread.Post_ID" asp-route-page="@ViewBag.pageCount">@ViewBag.pageCount</a>
}

@if (ViewBag.page != ViewBag.pageCount)
{
    <a class="btn btn-outline-primary btn-sm" role="button" asp-route-id="@Model.Thread.Post_ID" asp-route-page="@(ViewBag.page + 1)">></a>
}

<form method="post" asp-action="Details">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Comment.Contents" class="control-label"></label>
        <input asp-for="Comment.Contents" class="form-control" />
        <span asp-validation-for="Comment.Contents" class="text-danger"></span>

    </div>
    <div class="form-group">
        <input type="submit" value="Create" asp-route-id="@Model.Thread.Post_ID" asp-route-page="@ViewBag.page" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
