@model Forum_App.ViewModels.ThreadCommentsViewModel

@{
    ViewData["Title"] = "Details";
    string userString = null;
    if (User.Identity.IsAuthenticated)
        userString = User.Identity.Name;
}


<h1>Details</h1>

<div>
    <h4>Thread</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thread.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thread.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thread.Contents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thread.Contents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thread.User_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thread.User_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thread.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thread.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Thread.ModifyDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Thread.ModifyDate)
        </dd>
    </dl>
</div>
<div>
    @if (userString == Model.Thread.User_ID)
    {
        <a asp-action="Edit" asp-route-id="@Model.Thread.Post_ID">Edit</a>
        @Html.Raw("|")
    }
    <a asp-action="Index">Back to List</a>
</div>

<div id="pagesDivTop"></div>

<table class="table table-sm table-hover" id="CommentTable">
    @foreach (var item in Model.Comments)
    {
        <tr>
            <td>
                <p class="text-right text-muted mb-0 small">@Html.DisplayFor(modelItem => item.User_ID) - @Html.DisplayFor(modelItem => item.CreateDate)</p>
                <p>@Html.DisplayFor(modelItem => item.Contents)</p>
            </td>
        </tr>
    }
</table>

<div id="pagesDivBottom"></div>

<form method="post" asp-action="Details">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Comment.Contents" class="control-label"></label>
        <input asp-for="Comment.Contents" class="form-control" />
        <span asp-validation-for="Comment.Contents" class="text-danger"></span>

    </div>
    <div class="form-group">
        <input type="submit" value="Create" asp-route-id="@Model.Thread.Post_ID" asp-route-page="@(ViewBag.pageCount + (@ViewBag.max ? 1 : 0))" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script type="text/javascript">
        //LoadPage(@Model.Thread.Post_ID, @ViewBag.page);
        LoadPageButtons(@ViewBag.page);

        function LoadPage(id, page) {
            var Data = $("#CommentTable");
            $.ajax({
                type: "post",
                url: "/post/getcomments?id=" + id + "&page=" + page,
                contentType: "html",
                success: function (result) {
                    Data.html("<tbody>");
                    $.each(result, function (index, value) {
                        /*var d = "<tr>" +
                            "<td>" + value.contents + "</td>" +
                            "<td>" + value.user_ID + "</td>" +
                            "<td>" + formatDate(value.createDate) + "</td>" +
                            "<td>" + formatDate(value.modifyDate) + "</td>" +
                            "</tr>";*/
                        var d = '<tr>' +
                            '<td><p class="text-right text-muted mb-0 small">' + value.user_ID + ' - ' + formatDate(value.createDate) + '</p>' +
                            '<p>' + value.contents + '</p></td></tr>';

                        Data.append(d);
                    })
                    Data.append("</tbody>");
                    LoadPageButtons(page);
                    window.history.pushState(null, null, "/details/"+id+"/"+page);
                }
            });
        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }

        function LoadPageButtons(page) {
            var html = "";
            if (@ViewBag.pageCount > 1)
            {
                if (page != 1)
                {
                    html += '<a class="text-primary btn btn-outline-primary btn-sm" role="button" onclick="LoadPage(@Model.Thread.Post_ID, ' + (page-1) + ')"><</a> '
                }

                if (page - 2 > 1)
                {
                    html += '<a class="text-primary btn btn-outline-primary btn-sm" role="button" onclick="LoadPage(@Model.Thread.Post_ID, 1)">1</a> ';
                    if (page - 2 != 2) html += " ... ";
                }
                for (let i = page - 2; i <= @ViewBag.pageCount && i <= page + 2; i++)
                {
                    if (i < 1)
                        i = 1;
                    html += '<a class="text-primary btn btn-outline-primary btn-sm" role="button" onclick="LoadPage(@Model.Thread.Post_ID, ' + i + ')">' + i + '</a> ';
                }

                if (page + 2 < @ViewBag.pageCount)
                {
                    if (@ViewBag.pageCount - (page + 2) != 1) html += " ... ";
                    html += '<a class="text-primary btn btn-outline-primary btn-sm" role="button" onclick="LoadPage(@Model.Thread.Post_ID, @ViewBag.pageCount)">@ViewBag.pageCount</a> ';
                }

                if (page != @ViewBag.pageCount)
                {
                    html += '<a class="text-primary btn btn-outline-primary btn-sm" role="button" onclick="LoadPage(@Model.Thread.Post_ID, ' + (page+1) + ')">></a> ';
                }
            }

            document.getElementById("pagesDivTop").innerHTML = html;
            document.getElementById("pagesDivBottom").innerHTML = html;
        }

</script>
}