@model Forum_App.ViewModels.ThreadCommentsViewModel

@{
    ViewData["Title"] = "Details";
    string userString = null;
    if (User.Identity.IsAuthenticated)
        userString = User.Identity.Name;
}

<title>Details about post</title>
<meta name="description" content="All details of choosen post and all his comments. You can also create new comment." />
<h1>Details</h1>

<div>
    <br />
    <div class="d-block w-100 float-left">
        <p class="mb-0 font-weight-bold h3">@Html.DisplayFor(modelItem => Model.Thread.Title)</p>
        <p class="pl-3 w-auto mt-3 text-break">
            @Html.DisplayFor(modelItem => Model.Thread.Contents)
        </p>
        @if (Model.Thread.CreateDate != Model.Thread.ModifyDate)
        {
            @Html.Raw("<span class=\"float-left text-muted small\" data-toggle=\"tooltip\" data-placement=\"right\"  title=\"Edited on: ");
            @Html.DisplayFor(modelItem => Model.Thread.ModifyDate);
            @Html.Raw("\"> (edited)</span>");
        }
        <br />
        <span class="float-right font-italic">
            <span class="badge @(userString == Model.Thread.User_ID ? "badge-secondary text-white" : "text-muted font-weight-normal")">
                @Html.DisplayFor(modelItem => Model.Thread.User_ID)
            </span>
            <span class="small text-muted">
                - @Html.DisplayFor(modelItem => Model.Thread.CreateDate)
            </span>
        </span>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
    @if (userString == Model.Thread.User_ID)
    {
        @Html.Raw("|");
        <a asp-action="Edit" asp-route-id="@Model.Thread.Post_ID">Edit</a>
    }
</div>

<hr />

<div id="pagesDivTop"></div>
<br />

<table class="table table-sm table-hover" style="table-layout: fixed" id="CommentTable">
    @if (Model.Comments.Count() != 0)
    {
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td class="p-2">
                    <span class="float-right font-italic pd-1">
                        <span class="badge @(userString == item.User_ID ? "badge-secondary text-white" : "text-muted font-weight-normal")">
                            @Html.DisplayFor(modelItem => item.User_ID)
                        </span>
                        <span class="small text-muted">@Html.Raw(" - ") @Html.DisplayFor(modelItem => item.CreateDate)</span>
                    </span>

                    <p class="text-wrap text-break">@Html.DisplayFor(modelItem => item.Contents)</p>
                </td>
            </tr>
        }
    }
    else
    {
        @Html.Raw("No comments in the thread yet");
    }
</table>

<hr />

<div id="pagesDivBottom"></div>

<br />

<div class="w-75">
    <form method="post" asp-action="Details">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Add Comment</label>
            <textarea asp-for="Comment.Contents" rows="2" style="resize: none" class="form-control"></textarea>
            <span asp-validation-for="Comment.Contents" class="text-danger"></span>

        </div>
        <div class="form-group">
            @if (userString == null)
            {
                <input type="submit" value="LogIn to comment" asp-route-id="@Model.Thread.Post_ID" asp-route-page="@(ViewBag.pageCount + (@ViewBag.max ? 1 : 0))" class="btn btn-primary" disabled />
            }
            else
            {
                <input type="submit" value="Submit" asp-route-id="@Model.Thread.Post_ID" asp-route-page="@(ViewBag.pageCount + (@ViewBag.max ? 1 : 0))" class="btn btn-primary" />
            }
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        //LoadPage(@Model.Thread.Post_ID, @ViewBag.page);
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            LoadPageButtons(@ViewBag.page);
        });


        var userString = "@userString";

        function LoadPage(id, page) {
            var Data = $("#CommentTable");
            $.ajax({
                type: "post",
                url: "/post/getcomments?id=" + id + "&page=" + page,
                contentType: "html",
                success: function (result) {
                    Data.html("<tbody>");
                    $.each(result, function (index, value) {
                        /*var d = "<tr>" +
                            "<td>" + value.contents + "</td>" +
                            "<td>" + value.user_ID + "</td>" +
                            "<td>" + formatDate(value.createDate) + "</td>" +
                            "<td>" + formatDate(value.modifyDate) + "</td>" +
                            "</tr>";*/
                        /*var d = '<tr>' +
                            '<td><p class="text-right text-muted mb-0 small">' + value.user_ID + ' - ' + formatDate(value.createDate) + '</p>' +
                            '<p class="text-wrap text-break">' + value.contents + '</p></td></tr>';*/
                        var d = '<tr>' +
                            '<td class="p-2">' +
                                '<span class="float-right font-italic pd-1">' +
                                    '<span class="badge ' + (userString == value.user_ID ? "badge-secondary text-white" : "text-muted font-weight-normal") + '">' +
                                        value.user_ID +
                                    '</span> ' +
                                    '<span class="small text-muted"> - ' +
                                        formatDate(value.createDate) +
                                    '</span>'+
                                '</span>' +
                                '<p class="text-wrap text-break">'+value.contents+'</p>'+
                            '</td></tr>';
                        Data.append(d);
                    })
                    Data.append("</tbody>");
                    LoadPageButtons(page);
                    window.history.pushState(null, null, "/thread/"+id+"/"+page);
                }
            });
        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear(),
                hour = '' + d.getHours(),
                minute = '' + d.getMinutes();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;
            if (hour.length < 2)
                hour = '0' + hour;
            if (minute.length < 2)
                minute = '0' + minute;

            return [year, month, day].join('-') + ' ' + hour + ':' + minute;
        }

        function LoadPageButtons(page) {
            var html = "";
            if (@ViewBag.pageCount > 1)
            {
                if (page != 1)
                {
                    html += '<a class="text-primary btn btn-outline-primary btn-sm" role="button" onclick="LoadPage(@Model.Thread.Post_ID, ' + (page-1) + ')"><</a> '
                }

                if (page - 2 > 1)
                {
                    html += '<a class="text-primary btn btn-outline-primary btn-sm" role="button" onclick="LoadPage(@Model.Thread.Post_ID, 1)">1</a> ';
                    if (page - 2 != 2) html += " ... ";
                }
                for (let i = page - 2; i <= @ViewBag.pageCount && i <= page + 2; i++)
                {
                    if (i < 1)
                        i = 1;
                    html += '<a class="text-primary btn btn-outline-primary btn-sm" role="button" onclick="LoadPage(@Model.Thread.Post_ID, ' + i + ')">' + i + '</a> ';
                }

                if (page + 2 < @ViewBag.pageCount)
                {
                    if (@ViewBag.pageCount - (page + 2) != 1) html += " ... ";
                    html += '<a class="text-primary btn btn-outline-primary btn-sm" role="button" onclick="LoadPage(@Model.Thread.Post_ID, @ViewBag.pageCount)">@ViewBag.pageCount</a> ';
                }

                if (page != @ViewBag.pageCount)
                {
                    html += '<a class="text-primary btn btn-outline-primary btn-sm" role="button" onclick="LoadPage(@Model.Thread.Post_ID, ' + (page+1) + ')">></a> ';
                }
            }

            document.getElementById("pagesDivTop").innerHTML = html;
            document.getElementById("pagesDivBottom").innerHTML = html;
        }

    </script>
}