@model IEnumerable<Forum_App.Models.Thread>

@{
    ViewData["Title"] = "Posts";
    string userString = null;
    if(User.Identity.IsAuthenticated)
        userString = User.Identity.Name;
}

<h1>Posts</h1>

<p>
    <a class="text-primary float-right btn btn-outline-primary btn-sm" role="button" asp-action="Create">Create New Post</a>
</p>
<form asp-controller="Post" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="query" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table table-hover table-sm" style="table-layout: fixed">
    @if(Model.Count() > 0)
            {
            <tbody>
                @foreach (var item in Model)
                {                 
                <tr class="d-flex">
                    <td class="w-100">
                        <a class="nav-link text-dark w-100 float-left" asp-action="Details" asp-route-id="@item.Post_ID">
                            <p class="mb-0">
                                <span class="float-right font-italic">
                                    <span class="badge @(userString == item.User_ID ? "badge-secondary text-white" : "text-muted font-weight-normal")">
                                        @Html.DisplayFor(modelItem => item.User_ID)
                                    </span>
                                    <span class="small text-muted">
                                        - @Html.DisplayFor(modelItem => item.CreateDate)
                                    </span>
                                </span>
                                <span class="font-weight-bold">@Html.DisplayFor(modelItem => item.Title)</span>
                            </p>
                            <p class="text-truncate small pl-3 w-auto mb-0">
                                @Html.DisplayFor(modelItem => item.Contents)
                            </p>
                            @if (item.CreateDate != item.ModifyDate)
                            {
                                @Html.Raw("<span class=\"float-right text-muted small\" data-toggle=\"tooltip\" data-placement=\"left\"  title=\"Edited on: ");
                                @Html.DisplayFor(modelItem => item.ModifyDate);
                                @Html.Raw("\"> (edited)</span>");
                            }
                        </a>
                        
                    </td>
                </tr>
                }
            </tbody>
            }
            else
            {
                <tr>
                    <td>
                        <h3>No Post in database...</h3>
                    <td>
                </tr>
            }
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}