@model IEnumerable<Forum_App.Models.Thread>

@{
    ViewData["Title"] = "Posts";
}

<h1>Posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Post" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifyDate)
            </th>
            <th></th>
        </tr>
    </thead>
    @if(Model.Count() > 0)
            {
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contents)
                            @if (item.CreateDate != item.ModifyDate)
                            {
                                @Html.Raw(" (edited)");
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifyDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Post_ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Post_ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Post_ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
            }
            else
            {
            <h3>No Post in database...</h3>
            }
</table>
